/*--------------------------RESPONSIVIDADE GERAL----------------------------------*/
@media (min-width: 320px) and (max-width: 480px) {
    header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
  
          .logo{
              width: 50%;
                  img{
                      width: 100%;
                  }
          }
  
          .hamburguer{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
          }
    
    
          nav{
              visibility: hidden;
              opacity: 0;
              position: absolute;
              padding: 0;
              width: 100vw;
              height: 100vh;
              background-color: #7c7678;
              left: 0;
              top: 13vh;
              text-align: center;
              box-sizing: border-box;
            
            a{
              color: black;
              font-size: 2.3rem;
            }
      
              ul{
                margin-top: 10%;
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                li{
                  border: 1px solid blue;
                }
              }
          }
  
          .active{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
              z-index: 10000;
          }
      }
}

@media (min-width : 481px) and (max-width : 900px) {
    /* tablets */
    header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 30%;
                  img{
                      width: 100%;
                  }
          }

          .hamburguer{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
        }
    
    
        nav{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding: 0;
            width: 100%;
            height: 100vh;
            background-color: #7c7678;
            left: 0;
            top: 13vh;
            text-align: center;
            box-sizing: border-box;
          
          a{
            color: black;
            font-size: 2.3rem;
          }
    
            ul{
              margin-top: 10%;
              width: 100%;
              height: 30%;
              display: flex;
              flex-direction: column;
              font-size: 2.3rem;
              li{
                border: 1px solid blue;
              }
            }
        }

        .active{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
            z-index: 10000;
        }
      }  
}

@media (min-width : 901px) and (max-width : 1248px){
    header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 20%;
                  img{
                      width: 100%;
                  }
          }

          .hamburguer{
            display: none;
            visibility: hidden;
            opacity: 0;
            transition-duration: 1s;
        }
    
    
        nav{
            width: 500px;
            visibility: visible;
            opacity: 1;
            padding: 0;
            left: 0;
            text-align: center;
            box-sizing: border-box;
          
          a{
            color: white;
            font-size: 1.4rem;
          }
    
            ul{
              display: flex;
              font-size: 1.3rem;
            }
        }
      } 
}
/*--------------------------------------------------------------------------------*/

/*--------------------------SOMENTE TELAS-----------------------------------------*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */
    header{
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      background: #e79128;
      padding: 0 10px;
      transition-duration: 1s;

        .logo{
            width: 50%;
                img{
                    width: 100%;
                }
        }

        .hamburguer{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
        }
  
  
        nav{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding: 0;
            width: 100vw;
            height: 100vh;
            background-color: #7c7678;
            left: 0;
            top: 13vh;
            text-align: center;
            box-sizing: border-box;
          
          a{
            color: black;
            font-size: 2.3rem;
          }
    
            ul{
              margin-top: 10%;
              width: 100%;
              height: 30%;
              display: flex;
              flex-direction: column;
              li{
                border: 1px solid blue;
              }
            }
        }

        .active{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
            z-index: 10000;
        }
    }  
}

//IPHONE SE
@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    header{
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 30%;
                  img{
                      width: 100%;
                  }
          }
  
          .hamburguer{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
              width: 30px;
          }
    
    
          nav{
              visibility: hidden;
              opacity: 0;
              position: absolute;
              padding: 0;
              width: 100%;
              height: 87vh;
              background-color: #7c7678;
              left: 0;
              top: 13vh;
              text-align: center;
              box-sizing: border-box;
              overflow: hidden;
            
            a{
              color: black;
              font-size: 1.3rem;
            }
      
              ul{
                margin-top: 10%;
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                li{
                  border: 1px solid blue;
                }
              }
          }
  
          .active{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
              z-index: 10000;
          }
}
}
/*--------------------------------------------------------------------------------*/

//GALAXY S8+
@media only screen and (min-device-width : 360px) and (max-device-width : 740px){
    header{
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 30%;
                  img{
                      width: 100%;
                  }
          }
  
          .hamburguer{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
          }
    
    
          nav{
              visibility: hidden;
              opacity: 0;
              position: absolute;
              padding: 0;
              width: 100%;
              height: 87vh;
              background-color: #7c7678;
              left: 0;
              top: 13vh;
              text-align: center;
              box-sizing: border-box;
              overflow: hidden;
            
            a{
              color: black;
              font-size: 1.3rem;
            }
      
              ul{
                margin-top: 10%;
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                li{
                  border: 1px solid blue;
                }
              }
          }
  
          .active{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
              z-index: 10000;
          }
}
}
/*--------------------------------------------------------------------------------*/

//GALAXY FOLD VERSION
@media only screen and (min-device-width: 280px) and (max-device-width: 653px){
    header{
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 40%;
                  img{
                      width: 100%;
                  }
          }
  
          .hamburguer{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
          }
    
    
          nav{
              visibility: hidden;
              opacity: 0;
              position: absolute;
              padding: 0;
              width: 100%;
              height: 87vh;
              background-color: #7c7678;
              left: 0;
              top: 13vh;
              text-align: center;
              box-sizing: border-box;
              overflow: hidden;
            
            a{
              color: black;
              font-size: 1.3rem;
            }
      
              ul{
                margin-top: 10%;
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                li{
                  border: 1px solid blue;
                }
              }
          }
  
          .active{
              visibility: visible;
              opacity: 1;
              transition-duration: 1s;
              z-index: 10000;
          }
}
}
/*--------------------------------------------------------------------------------*/

@media only screen and (min-device-width : 481px) and (max-device-width : 900px) {
    /* tablets */
    header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 20%;
                  img{
                      width: 100%;
                  }
          }

          .hamburguer{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
        }
    
    
        nav{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            padding: 0;
            width: 100vw;
            height: 100vh;
            background-color: #7c7678;
            left: 0;
            top: 13vh;
            text-align: center;
            box-sizing: border-box;
          
          a{
            color: black;
            font-size: 2.3rem;
          }
    
            ul{
              margin-top: 10%;
              width: 100%;
              height: 30%;
              display: flex;
              flex-direction: column;
              font-size: 2.3rem;
              li{
                border: 1px solid blue;
              }
            }
        }

        .active{
            visibility: visible;
            opacity: 1;
            transition-duration: 1s;
            z-index: 10000;
        }
      }  
}

@media only screen and (min-device-width: 901px) and (max-device-width: 1248px){
    header{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        background: #e79128;
        padding: 0 10px;
        transition-duration: 1s;
        overflow: hidden;
  
          .logo{
              width: 20%;
                  img{
                      width: 100%;
                  }
          }

          .hamburguer{
            display: none;
            visibility: hidden;
            opacity: 0;
            transition-duration: 1s;
        }
    
    
        nav{
            width: 500px;
            visibility: visible;
            opacity: 1;
            padding: 0;
            left: 0;
            text-align: center;
            box-sizing: border-box;
          
          a{
            color: white;
            font-size: 1.4rem;
          }
    
            ul{
              display: flex;
              font-size: 1.3rem;
            }
        }
      } 
}
/*--------------------------------------------------------------------------------*/